body {
  background-color: tomato;
  border-radius: 100cm;
  empty-cells: show;
}

h1 {
  color: aqua;
}

div {
  background-color: wheat;
}

p.important {
  color: yellowgreen;
}

p.explain {
  font-size: medium;
}

p {
  color: inherit;
}

img {
  width: fit-content;
  border-radius: 30px;
}
