/* Dropdown summary Button */
.summary-text {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
summary.summary-text:hover,
summary.summary-text:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the details_content content */
.details_content {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.details_content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the details_content */
.details_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of details_content links on hover */
.details_content a:hover {
  background-color: #ddd;
}

div.overhead {
  display: flex;
  justify-content: space-evenly;
}
.summary-text {
  min-width: calc(160px - 32px);
  max-width: 160px;
}
