 div.foot {
    background-color: aqua;
}  

div.lower {
    background-color: cornflowerblue; 
    background-color: inherit;
}


ul.lower {
    background-color: violet;
    background-color: inherit;
} 


li.upper {
     display: list-item;
    display: inline-block;
    text-align: -webkit-match-parent; 
 } 
