<<<<<<< HEAD
.glow span.letterss {
    font-size: 40px;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border: 25px solid rgba(255, 255, 255, 0.4);
    margin: 0 -2.5px;
    animation: animate 1s linear infinite;
}
div.glow {
    background-color: initial;
}

@keyframes animate {
    0% {
        color: rgb(255, 0, 255);
        box-shadow: 0 -2px 10px rgba(255, 0, 255, 1);
        border: 2px solid;
    }
    50% {
        color: rgb(0, 255, 255);
        box-shadow: 0 -2px 10px rgba(0, 255, 255, 1);
        border: 2px solid;
    }
    100% {
        color: rgb(255, 255, 0);
        box-shadow: 0 -2px 10px rgba(255, 255, 0, 1);
        border: 2px solid;
    }
=======
.glow span.letterss {
    font-size: 40px;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border: 25px solid rgba(255, 255, 255, 0.4);
    margin: 0 -2.5px;
    animation: animate 1s linear infinite;
}
div.glow {
    background-color: initial;
}

@keyframes animate {
    0% {
        color: rgb(255, 0, 255);
        box-shadow: 0 -2px 10px rgba(255, 0, 255, 1);
        border: 2px solid;
    }
    50% {
        color: rgb(0, 255, 255);
        box-shadow: 0 -2px 10px rgba(0, 255, 255, 1);
        border: 2px solid;
    }
    100% {
        color: rgb(255, 255, 0);
        box-shadow: 0 -2px 10px rgba(255, 255, 0, 1);
        border: 2px solid;
    }
>>>>>>> ad6b4115474dd5b06c8f347e64586fb7c98f2845
}